!!!  
%html  
  %head  
    %title Chatt0r  
    %script(type='text/javascript' src='/jquery-1.8.3.min.js')
    %link{:href=>'/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script(type='text/javascript' scr='/modernizr.foundation.js')
    :javascript
      $(document).ready(function(){

        ws = new WebSocket("ws://192.168.168.110:3001");

        ws.onmessage = function(evt) { 
          $("#chat").append(evt.data);
          $("#chat").animate({ scrollTop: $(document).height() }, 0);
        };
        $('#user_input').submit(function(e){
          e.preventDefault();
          ws.send($('#user_msg').val());
          $("#user_msg").val('');
        });
        $("#chat").height($(window).height() - 200);
        window.onresize = function(event) {
        if ($(window).height() > 400){
            $("#chat").height($(window).height() - 200);
          }
        }
      });    
  %body
    %nav.top-bar
      .row-fluid
        %ul
          %li.name
            %a Chatt0r
    .row-fluid
      %section.nine.columns
        #chat.row-fluid
        %form(id='user_input' class='form-inline')
          %input(type='text' id='user_msg')
          %input(type='submit' name='submit' id='submit' class='button radius nice')
      %aside.three.columns
        %h2 Client

